@import "tailwindcss";


@import 'react-image-crop/dist/ReactCrop.css';
@import 'react-toastify/dist/ReactToastify.css';

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .primary-label {
    @apply mb-3 block text-sm font-medium mt-3 text-black dark:text-white;
  }

  .dashboard_primary_button {
    @apply px-4 py-2 rounded-md text-sm border text-white dark:bg-primary bg-black dark:border-primary border-black flex justify-center items-center gap-2 cursor-pointer w-fit;
  }

  .dashboard_input,
  .primary-input {
    @apply w-full rounded-lg border border-[#e5e7eb] bg-transparent px-5 py-3 text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-white dark:bg-black/20 dark:text-white dark:focus:border-primary;
  }

  .input_container {
    @apply flex gap-4 mt-2 flex-wrap sm:flex-nowrap;
  }

  .input_iner_container {
    @apply w-full md:w-2/4;
  }

  .dashboard_side_bar {
    @apply relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium duration-300 hover:bg-black dark:hover:bg-primary border-b-2 border-b-primary border-transparent;
  }

  .flex_between {
    @apply flex items-center justify-between;
  }

  .text-medium {
    @apply text-xl font-rubik font-medium;
  }

  .active {
    @apply text-white bg-black dark:bg-primary;
  }

  .text-heading {
    @apply text-2xl md:text-3xl lg:text-4xl font-rubik font-semibold;
  }

  .border,
  .border-stroke {
    @apply border-[#e5e7eb] dark:border-white
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #FFB803;
  --secondary: #EFEFEF;
  --gray: #606060;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --font-open_Sans: var(--font-open-sans);
  --font-rubik: var(--font-rubik);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--);
  color: var(--foreground);
  font-family: var(--font-open-sans);
  font-size: 14px;
}


.ant-btn-variant-solid {
  background-color: var(--primary);
}

.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--primary);
  border-color: var(--primary);
}

#apexchartshtb0gf44i .apexcharts-svg,
#apexchartsu1td0pj1 .apexcharts-svg {
  background-color: transparent !important;
}

.apexcharts-theme-dark .apexcharts-menu-icon svg,
.apexcharts-theme-dark .apexcharts-pan-icon svg,
.apexcharts-theme-dark .apexcharts-reset-icon svg,
.apexcharts-theme-dark .apexcharts-selection-icon svg,
.apexcharts-theme-dark .apexcharts-toolbar-custom-icon svg,
.apexcharts-theme-dark .apexcharts-zoom-icon svg,
.apexcharts-theme-dark .apexcharts-zoomin-icon svg,
.apexcharts-theme-dark .apexcharts-zoomout-icon svg {
  fill: var(--primary) !important;
  stroke: none !important
}