@import "tailwindcss";

@layer components {
  .primary-input {
    @apply w-full rounded-lg border px-3 py-3 outline-none transition border-white text-white focus:border-black;
  }
}

@layer components {
  .primary-label {
    @apply mb-3 block text-sm font-medium mt-3;
  }
}

@layer components {
  .dashboard_primary_button {
    @apply px-4 py-2 rounded-md text-sm border bg-black text-white border-black flex justify-center items-center gap-2 cursor-pointer w-fit;
  }
}

@layer components {
  .input_container {
    @apply flex gap-4 mt-2 flex-wrap sm:flex-nowrap;
  }
}

@layer components {
  .input_iner_container {
    @apply w-full md:w-2/4;
  }
}

@layer components {
  .dashboard_side_bar {
    @apply relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium duration-300 ease-in-out hover:bg-black;
  }
}

@layer components {
  .active {
    @apply text-white bg-black;
  }
}
@layer components {
  .text-heading {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
}
@layer components {
  .text-medium {
    @apply text-xl;
  }
} 

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #FFB803;
  --secondary: #EFEFEF;
  --gray: #606060;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --font-open_Sans: var(--font-open-sans);
  --font-rubik: var(--font-rubik);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans);
  font-size: 14px;
}


:where(.css-dev-only-do-not-override-1vjf2v5).ant-btn-variant-solid {
  background-color: var(--primary);
}
:where(.css-dev-only-do-not-override-1vjf2v5).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--primary);
  border-color: var(--primary);
}