@import "tailwindcss";
@import "react-image-crop/dist/ReactCrop.css";
@import "react-toastify/dist/ReactToastify.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .primary-label {
    @apply mb-3 block text-sm font-medium mt-3 text-black dark:text-white;
  }

  .dashboard_primary_button {
    @apply px-4 py-2 rounded-md text-sm border text-white dark:bg-primary bg-black dark:border-primary border-black flex justify-center items-center gap-2 cursor-pointer w-fit;
  }

  .dashboard_input,
  .primary-input {
    @apply w-full rounded-lg border border-[#e5e7eb] bg-transparent px-5 py-3 text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-white dark:bg-black/20 dark:text-white dark:focus:border-primary;
  }

  .input_container {
    @apply flex gap-4 mt-2 flex-wrap sm:flex-nowrap;
  }

  .input_iner_container {
    @apply w-full md:w-2/4;
  }

  .dashboard_side_bar {
    @apply relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium duration-300 hover:bg-black dark:hover:bg-primary border-b-2 border-b-primary border-transparent;
  }

  .flex_between {
    @apply flex items-center justify-between;
  }

  .text-medium {
    @apply text-xl font-rubik font-medium;
  }

  .active {
    @apply text-white bg-black dark:bg-primary;
  }

  .text-heading {
    @apply text-2xl md:text-3xl lg:text-4xl font-rubik font-semibold;
  }

  .border,
  .border-stroke {
    @apply border-[#e5e7eb] dark:border-white;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #feb907;
  --primary-light: #feb9071f;
  --secondary: #efefef;
  --font-currency: "currency", "currency Fallback";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --font-open_Sans: var(--font-open-sans);
  --font-rubik: var(--font-rubik);
  --font-currency: var(--font-currency);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--);
  font-family: var(--font-open-sans);
}

.ant-btn-variant-solid {
  background-color: var(--primary);
}

.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--primary);
  border-color: var(--primary);
}

#apexchartshtb0gf44i .apexcharts-svg,
#apexchartsu1td0pj1 .apexcharts-svg {
  background-color: transparent !important;
}

.apexcharts-theme-dark .apexcharts-menu-icon svg,
.apexcharts-theme-dark .apexcharts-pan-icon svg,
.apexcharts-theme-dark .apexcharts-reset-icon svg,
.apexcharts-theme-dark .apexcharts-selection-icon svg,
.apexcharts-theme-dark .apexcharts-toolbar-custom-icon svg,
.apexcharts-theme-dark .apexcharts-zoom-icon svg,
.apexcharts-theme-dark .apexcharts-zoomin-icon svg,
.apexcharts-theme-dark .apexcharts-zoomout-icon svg {
  fill: var(--primary) !important;
  stroke: none !important;
}

/* globals.css or a new CSS file */
.jagged-shape {
  clip-path: polygon(
    /* Top edge */ 5% 0%,
    10% 5%,
    15% 0%,
    20% 5%,
    25% 0%,
    30% 5%,
    35% 0%,
    40% 5%,
    45% 0%,
    50% 5%,
    55% 0%,
    60% 5%,
    65% 0%,
    70% 5%,
    75% 0%,
    80% 5%,
    85% 0%,
    90% 5%,
    95% 0%,
    100% 5%,

    /* Right edge */ 95% 10%,
    100% 15%,
    95% 20%,
    100% 25%,
    95% 30%,
    100% 35%,
    95% 40%,
    100% 45%,
    95% 50%,
    100% 55%,
    95% 60%,
    100% 65%,
    95% 70%,
    100% 75%,
    95% 80%,
    100% 85%,
    95% 90%,
    100% 95%,
    95% 100%,

    /* Bottom edge */ 90% 95%,
    85% 100%,
    80% 95%,
    75% 100%,
    70% 95%,
    65% 100%,
    60% 95%,
    55% 100%,
    50% 95%,
    45% 100%,
    40% 95%,
    35% 100%,
    30% 95%,
    25% 100%,
    20% 95%,
    15% 100%,
    10% 95%,
    5% 100%,
    0% 95%,

    /* Left edge */ 5% 90%,
    0% 85%,
    5% 80%,
    0% 75%,
    5% 70%,
    0% 65%,
    5% 60%,
    0% 55%,
    5% 50%,
    0% 45%,
    5% 40%,
    0% 35%,
    5% 30%,
    0% 25%,
    5% 20%,
    0% 15%,
    5% 10%,
    0% 5%
  );
}

.boxShadow {
  box-shadow: 0px 0px 6px #4c4c4c59;
}

.card-wrapper:hover {
  box-shadow: 0px 0px 6px #4c4c4c59;
}

.custom-bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
  background-color: white;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
  opacity: 1;
}

.swiper-pagination-bullet-active.custom-bullet {
  background-color: var(--primary);
  border-color: black;
}
