@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .primary-label {
    @apply mb-3 block text-sm font-medium mt-3 text-black dark:text-white;
  }

  .dashboard_primary_button {
    @apply px-4 py-2 rounded-md text-sm border text-white dark:bg-primary bg-black dark:border-primary border-black flex justify-center items-center gap-2 cursor-pointer w-fit;
  }

  .dashboard_input,
  .primary-input {
    @apply w-full rounded-lg border border-[#e5e7eb] bg-transparent px-5 py-3 text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-white dark:bg-black/20 dark:text-white dark:focus:border-primary;
  }

  .input_container {
    @apply flex gap-4 mt-2 flex-wrap sm:flex-nowrap;
  }

  .input_iner_container {
    @apply w-full md:w-2/4;
  }

  .dashboard_side_bar {
    @apply relative flex items-center gap-2.5 rounded-sm px-4 py-2 font-medium duration-300 hover:bg-black dark:hover:bg-primary border-b-2 border-b-primary border-transparent;
  }

  .flex_between {
    @apply flex items-center justify-between;
  }

  .text-medium {
    @apply text-xl font-rubik font-medium;
  }

  .active {
    @apply text-white bg-black dark:bg-primary;
  }

  .text-heading {
    @apply text-2xl md:text-3xl lg:text-4xl font-rubik font-semibold;
  }

  .text-border {
    @apply [text-shadow:-2px_-2px_0_#000,2px_-2px_0_#000,-2px_2px_0_#000,2px_2px_0_#000,0_2px_0_#000,2px_0_0_#000,0_-2px_0_#000,-2px_0_0_#000,-2px_1px_0_#000,2px_1px_0_#000,-2px_-1px_0_#000,2px_-1px_0_#000,-1px_2px_0_#000,1px_2px_0_#000,-1px_-2px_0_#000,1px_-2px_0_#000];
  }

  .border,
  .border-stroke {
    @apply border-[#e5e7eb] dark:border-white;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #feb907;
  --primary-light: #feb9071f;
  --secondary: #efefef;
  --font-currency: "currency", "currency Fallback";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --font-open_Sans: var(--font-open-sans);
  --font-rubik: var(--font-rubik);
  --font-currency: var(--font-currency);
  --breakpoint-3xl: 2000px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--);
  font-family: var(--font-open-sans);
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #bdbdbd; /* Grey */
  opacity: 1;
  transition: background-color 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: #000000; /* Black */
}
